<main>
  <section class="articles">
    <h2 class="title">Volverse organizado se siente mejor con OPEN SPACES</h2>
    <article class="articles__article">
      <img src="./assets/images/icon_1.png" alt="icon beauty desktop" />
      <h3 class="subtitle">Lo que necesitas</h3>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </article>
    <article>
      <img src="./assets/images/icon_2.png" alt="icon recicle bag" />
      <h3 class="subtitle">Materia prima sustentable</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </article>
    <article>
      <img src="./assets/images/icon_3.png" alt="icon street advise" />
      <h3 class="subtitle">Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </section>
</main>
