<div class="open-spaces">
  <h2 class="open-spaces__title title">Volverse organizado se siente mejor con OPEN SPACES</h2>
  <section class="articles">
    <article class="articles__article">
      <img class="article__img" src="./assets/images/icon_1.png" alt="icon beauty desktop" />
      <h3 class="article__subtitle subtitle">Lo que necesitas</h3>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </article>
    <article class="articles__article">
      <img src="./assets/images/icon_2.png" alt="icon recicle bag" />
      <h3 class="article__subtitle subtitle">Materia prima sustentable</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </article>
    <article class="articles__article">
      <img src="./assets/images/icon_3.png" alt="icon street advise" />
      <h3 class="article__subtitle subtitle">Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </section>
</div>
