<footer class="footer">
  <ul class="footer__link">
    <h3 class="subtitle">Tienda</h3>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es"
        >Productos</a
      >
    </li>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es"
        >Cajoneras</a
      >
    </li>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es"
        >Para toda la casa</a
      >
    </li>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es"
        >Habitaciones</a
      >
    </li>
  </ul>
  <ul class="footer__link">
    <h3 class="subtitle">Nosotros</h3>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es"
        >Nuestra Guía</a
      >
    </li>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es"
        >Nuestra historia</a
      >
    </li>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es"
        >Nuestro diseño</a
      >
    </li>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es">Ayuda</a>
    </li>
  </ul>
  <ul class="footer__link">
    <h3 class="subtitle">Contacto</h3>
    <li>
      <a class="link__item menu-text--link-f" href="mailto:ayuda@openspaces.com"
        >ayuda@openspaces.com</a
      >
    </li>
    <li>
      <a class="link__item menu-text--link-f" href="https/adalab.es">Socios</a>
    </li>
    <li class="link__icon">
      <a class="icon--lin menu-text--link-f" href="https/adalab.es">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="icon--ig menu-text--link-f" href="https/adalab.es">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="icon--tw menu-text--link-f" href="https/adalab.es">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
  </ul>
  <ul class="footer__link">
    <li>
      <a class="icon--tw menu-text--link-f" href="https/adalab.es">
        <i class="fa-solid fa-arrow-up"></i>
      </a>
    </li>
  </ul>
</footer>
