<header class="header">
  <section class="navbar">
    <nav class="navbar__menu">
      <a class="navbar__menu--burger" href="https/adalab.es" alt="burger menu">
        <i class="fa-solid fa-bars"></i>
      </a>
      <ul>
        <li></li>
      </ul>
    </nav>
    <img
      class="navbar__logo"
      src="./assets/images/logo.png"
      alt="open-spaces-logo"
    />
  </section>

  <section class="panel">
    <h2 class="title">Disfruta creando espacios</h2>
    <button class="btn">Compra ahora</button>
  </section>
</header>
