<header class="header" id="to-the-top">
  <section class="navbar">
    <nav class="navbar__menu">
      <a class="navbar__menu-burger" href="https/adalab.es" alt="burger menu">
        <i class="fa-solid fa-bars"></i>
      </a>
      <ul class="navbar__menu-links">
        <li class="menu-links__item">
          <a class="item__link menu-text--link-h" href="https/adalab.es"
            >Productos</a
          >
        </li>
        <li class="menu-links__item">
          <a class="item__link menu-text--link-h" href="https/adalab.es"
            >Colecciones</a
          >
        </li>
        <li class="menu-links__item">
          <a class="item__link menu-text--link-h" href="https/adalab.es"
            >Tienda
          </a>
        </li>
        <li class="menu-links__item">
          <a class="item__link menu-text--link-h" href="https/adalab.es"
            >Inicio</a
          >
        </li>
      </ul>
    </nav>
  </section>
  <img
    class="header__logo"
    src="./assets/images/logo.png"
    alt="open-spaces-logo"
  />

  <section class="panel-header">
    <h2 class="disfruta__title title">Disfruta creando espacios</h2>
    <div class="btn-box">
      <a class="btn">Comprar ahora </a>
    </div>
  </section>
</header>
