<section class="new-section">
  <h2 class="new-section__title title">Oferta especial</h2>
  <div class="new-section__container">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vero ea placeat tempore. Cumque facilis, voluptas ipsam inventore sed velit ipsa officia similique harum? Dolores eveniet rerum necessitatibus fuga aliquid!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vero ea placeat tempore. Cumque facilis, voluptas ipsam inventore sed velit ipsa officia similique harum? Dolores eveniet rerum necessitatibus fuga aliquid!</p>
  </div>
</section>
