<section class="panel1">
  <img src="./assets/images/icon_4.png" alt="delivery van" />
  <h2 class="panel1__title title">Envío gratis garantizado</h2>
  <h4 class="panel1__small-text small-text">
    Envío gratis en compras desde 100
  </h4>
  <a class="panel1__link" href="https/adalab.es">Comprar ahora</a>
</section>
<section class="panel2">
  <h2 class="panel2__title title">Disfruta creando espacios</h2>
  <h4 class="panel2__small-text small-text">
    Una línea de productos diseñados para todos tus espacios
  </h4>
  <a class="btn" href="https/adalab.es">Comprar ahora</a>
</section>

<div class="image-box">
  <!-- <img
    class="img-wc"
    src="./assets/images/creando-espacios.jpg"
    alt="creando espacios"
  /> -->
</div>
