<img src="./assets/images/icon_4.png" alt="delivery van" />
<section class="panel">
  <h2 class="title">Envío gratis garantizado</h2>
  <h4>Envío gratis en compras desde 100</h4>
  <!-- No sé si poner <button> y modificar apariencia con SASS 
        o poner <a> -->
  <a href="">Comprar ahora</a>
</section>
<!-- ¿repetir dos veces? o hacer sólo el cambio para white? -->
<section class="panel">
  <h2 class="title">Envío gratis garantizado</h2>
  <h4>Envío gratis en compras desde 100</h4>
  <button class="btn">Comprar ahora</button>
</section>

<section class="image-box">
  <img src="./assets/images/creando-espacios.jpg" alt="creando espacios" />
</section>
