<img src="./assets/images/icon_4.png" alt="delivery van" />
<section class="panel">
  <h2 class="title">Envío gratis garantizado</h2>
  <h4 class="small-text">Envío gratis en compras desde 100</h4>
  <a class="btn" href="https/adalab.es">Comprar ahora</a>
</section>
<section class="panel">
  <h2 class="title">Disfruta creando espacios</h2>
  <h4 class="small-text">
    Una línea de productos diseñados para todos tus espacios
  </h4>
  <a class="btn" href="https/adalab.es">Comprar ahora</a>
</section>

<section class="image-box">
  <img
    class="img-wc"
    src="./assets/images/creando-espacios.jpg"
    alt="creando espacios"
  />
</section>
