// fonts
$fontText: 'Poppins', sans-serif;

// colors
$color-turquoise: #0c474b;
$color-white: #ffffff;
$color-light-turquoise: #b6c8c9;

//fonts size
$font-sizeTitle: 24px;
$font-sizeSubtitle: 20px;
$font-sizeParagraph: 16px;
$font-sizeSmallText: 14px;

//font weight
// $font-wghtRegular: 400; -default
$font-wghtSemiBold: 600;

//background color
$color-background-1: #0c474b;
$color-background-2: #f0ebe5;
$color-background-3: #ff975a;

// root
:root {
  font-family: $fontText;
  color: $color-turquoise;
}

.title {
  font-size: $font-sizeTitle;
  font-weight: $font-wghtSemiBold;
}
.subtitle {
  font-size: $font-sizeSubtitle;
  font-weight: $font-wghtSemiBold;
}
.small-text {
  font-size: $font-sizeSmallText;
}

.paragraph {
  font-size: $font-sizeParagraph;
}

.menu-text {
  &--link-f {
    color: $color-light-turquoise;
    font-size: $font-sizeSmallText;
    text-decoration: none;
  }

  &--link-h {
    color: $color-turquoise;
    text-decoration: none;
  }

  &--link-i {
    color: $color-white;
  }
}
