.open-spaces {
  background-color: $color-background-2;
}

.open-spaces__title {
  padding: 40px;
  text-align: center;
}

.articles {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  padding-bottom: 40px;

  @media all and (min-width: 768px) {
    grid-auto-flow: column;
    grid-gap: 10%;
  }

  &__article {
    text-align: center;
    width: 250px;
  }

  &__img {
    padding-bottom: 15px;
  }

  &__subtitle {
    padding-bottom: 15px;
  }
}
