.footer {
  background-color: $color-background-1;
  color: $color-light-turquoise;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-left: 25%;
  padding-top: 25px;

  &__links {
    padding-top: 25px;
    gap: 5px;
  }

  &__subtitle {
    padding-bottom: 10px;
  }

  &__icons {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &--arrow {
    @media all and (min-width: 768px) {
    }
  }

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
