.footer {
  background-color: $color-background-1;
  color: $color-light-turquoise;
  display: flex;
  flex-direction: column;
  padding-left: 35%;
  padding-top: 25px;
  padding-bottom: 20px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    padding-top: 20px;
  }

  &__links {
    padding-top: 25px;
    @media all and (min-width: 768px) {
      justify-content: space-between;
    }
  }

  &__subtitle {
    padding-bottom: 10px;
  }

  &__icons {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__arrow {
    @media all and (max-width: 768px) {
      padding-left: 200px;
    }
    @media all and (min-width: 768px) {
      padding-top: 115px;
    }
  }
}
