.header {
  background-image: url(../images/header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-color: $color-background-2;
  height: 100vh;
  color: $color-turquoise;
  box-sizing: content-box;

  &__logo {
    display: block;
    margin: auto;
    padding: 15px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  width: 100vw;
  position: fixed;
  margin-left: 10%;
  margin-top: 5%;
  margin-top: max(58px);
}

.navbar__menu {
  @media all and (max-width: 1200px) {
    .navbar__menu-links {
      display: none;
    }
  }

  @media all and (min-width: 1200px) {
    .navbar__menu-burger {
      display: none;
    }
  }
}

.navbar__menu-burger {
  color: $color-turquoise;
}

.navbar__menu-links {
  display: flex;
  gap: 6.5px;
}

.item__link {
  padding: 15px;
}

.panel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40vh;
  width: auto;
  @media (min-width: 768px) {
    align-items: flex-start;
    margin-left: 10%;
  }
}

.btn {
  color: $color-white;
  background-color: $color-turquoise;
  padding: 18px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: inset 0 0 20px $color-background-3;
  transition: all 1s ease;
  &:hover {
    background-color: $color-background-2;
    color: $color-turquoise;
    font-weight: $font-wghtSemiBold;
  }
}

.btn-box {
  display: flex;
  padding-top: 30px;
}
