.header {
  background-image: url(../images/header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-color: $color-background-2;
  height: 100vh;
  color: $color-turquoise;
  box-sizing: content-box;
}

.navbar {
  display: flex; //row
  align-items: center;
  width: 100vw;
  position: fixed;
  margin: 7vw;
  
}

.navbar__menu {
  @media all and (max-width: 1200px) {
    .navbar__menu-links {
      display: none;
    }
  }

  @media all and (min-width: 1200px) {
    .navbar__menu-burger {
      display: none;
    }
  }
}

.navbar__menu-burger {
  color: $color-turquoise;
}

.menu-links__item {
  // color: $color-turquoise;
  &item--link {
    color: $color-turquoise;
  }
}

.disfruta {
  display: flex;
  flex-direction: column;
  align-items: center; //eje secundario centrado
  position:relative;
  top:50vh;
  width: auto;
  // padding-bottom: z;
  @media  (max-width:768px){
    
  }
}

.btn {
  color: $color-white;
  background-color: $color-turquoise;
  padding: 12px;
  text-decoration: none;
}

.btn-box {
  display: flex;
}