.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  height: 40vh;
  color: $color-turquoise;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__menu {
  @media all and (max-width: 1200px) {
    .navbar__menu-links {
      display: none;
    }
  }

  @media all and (min-width: 1200px) {
    .navbar__menu-burger {
      display: none;
    }
  }
}

.navbar__menu-burger {
  color: $color-turquoise;
}

.navbar__menu-links {
  &--link {
    color: $color-turquoise;
  }
}

.disfruta {
  font-size: $font-sizeTitle;
  font-weight: $font-wghtSemiBold;
}
